In [1]:
 ##List
#Lists are used to store multiple items in a single variable.
#Lists are one of 4 built-in data types in Python used to store collections of data.
#Lists are created using square brackets.

In [2]:
#List Creation
L1=[1,2,3,4,5]
print(L1)

[1, 2, 3, 4, 5]

In [3]:
#List type
print(type(L1))

<class 'list'>

In [4]:
#Length of List
print(len(L1))

5

In [5]:
l2=["A",2,"B",3,4,5,True]

In [6]:
print(l2)

['A', 2, 'B', 3, 4, 5, True]


List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [7]:
list1 = ["a", "b", "c", "a", "c"]
print(list1)

['a', 'b', 'c', 'a', 'c']

In [8]:
#Access List items
list1[1]

'b'

In [9]:
list1[2]

'c'

In [10]:
#Range of Indexes
list1[2:4]

['c', 'a']

In [11]:
#Negative Indexing
list11 = ["a", "b", "c", "d", "e"]
list11[-2]

'd'

In [12]:
print(list11[-4:-1])

['b', 'c', 'd']

In [13]:
list11[-5:]

['a', 'b', 'c', 'd', 'e']

In [14]:
list11[-2:]

['d', 'e']

In [15]:
# Change item value
L2=[1,2,3,4,5,6,7]
print(L2)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
L2[2]=8
print(L2)

[1, 2, 8, 4, 5, 6, 7]

In [17]:
L2[1:3]="A","B"
print(L2)

[1, 'A', 'B', 4, 5, 6, 7]

In [18]:
L2[2]=2
print(L2)

[1, 'A', 2, 4, 5, 6, 7]

In [19]:
L3=[6,7,8,9]
L3[2]=13
print(L3)

[6, 7, 13, 9]

#List item Addition
# Append Items
# To add an item to the end of the list, use the append() method:

In [20]:
# List creation

In [21]:
course=["Python","SQL","Stats"]
print(course)

['Python', 'SQL', 'Stats']

In [22]:
course.append("excel")
print(course)

['Python', 'SQL', 'Stats', 'excel']

# Insert Items
# To insert a list item at a specified index, use the insert() method

In [23]:
course.insert(3,'Algo')
print(course)

['Python', 'SQL', 'Stats', 'Algo', 'excel']

In [24]:
company=['TCS','Infosys','Wipro']
print(company)

['TCS', 'Infosys', 'Wipro']

In [25]:
# Extend List
# To append elements from another list to the current list, use the extend() method.

In [26]:
course.extend(company)

In [27]:
print(course)

['Python', 'SQL', 'Stats', 'Algo', 'excel', 'TCS', 'Infosys', 'Wipro']

In [28]:
# Remove Specified Item
# The remove() method removes the specified item.

In [29]:
course.remove('Algo')
print(course)

['Python', 'SQL', 'Stats', 'excel', 'TCS', 'Infosys', 'Wipro']

In [30]:
#Pop Method
#If do not specify the index, the pop() method removes the last item.
stud=['M','N','O','P','Q','R']
stud.pop()

'R'

In [31]:
stud

['M', 'N', 'O', 'P', 'Q']

In [32]:
#pop() method removes the specified index.
stud.pop(1)

'N'

In [33]:
stud

['M', 'O', 'P', 'Q']

In [34]:

#del keyword also removes the specified index
List21=[10,20,"A",30,40,"B"]
del List21[3]

In [35]:
List21

[10, 20, 'A', 40, 'B']

In [36]:
List22=[10,20,"A",30,40,"C"]
del List22

In [37]:
List22

NameError: name 'List22' is not defined

In [38]:
#Clear the List
#clear() method removes all the elements from a list.
L1=[1,2]
L1.clear()
L1

[]

In [39]:
# Copy List

In [40]:
movie=["ABC","RRR","Lagan"]

In [41]:
print(movie)

['ABC', 'RRR', 'Lagan']

In [42]:
Film=movie.copy()

In [43]:
print(Film)

['ABC', 'RRR', 'Lagan']

In [44]:
#Copy List(list method)
Film2=list(movie)

In [45]:
print(Film2)

['ABC', 'RRR', 'Lagan']

In [46]:
# Join Two Lists-  two lists is by appending all the items from list2 into list1

In [47]:
L11=[1,2,3,4]

In [48]:
L12=['smily','pricy','seeky']

In [49]:
L13=L11+L12

In [50]:
print(L13)

[1, 2, 3, 4, 'smily', 'pricy', 'seeky']

In [51]:
print(max(L11))

4

In [52]:
print(min(L11))

1

In [53]:
L=[1,2,'A','B']
max(L)

TypeError: '>' not supported between instances of 'str' and 'int'