In [3]:
print("Hello World!")

Hello World!

In [4]:
x=5
y="Shiv"
print(x)
print(y)

5
Shiv

In [5]:
a=4
A='nitish'
print(a)
print(A)

4
nitish

In [6]:
#Legal variable names:
myvar = "Shiv"
my_var = "Shiv"
_my_var = "Shiv"
myVar = "Shiv"
MYVAR = "Shiv"
myvar2 = "Shiv"

In [7]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (3397427147.py, line 2)

In [8]:
x,y,z="orange","banana","cherry"

In [9]:
print(x)
print(y)
print(z)

orange
banana
cherry

In [10]:
x = "Python is case sensitive language"
print(x)

Python is case sensitive language

In [11]:
a=2
b=3
c=a+b
print(c)

5

In [12]:
#Multiline Comments
"""
This is a comment
written in
more than one line
"""
print("Hello, World!")

Hello, World!

In [13]:
x = 3   # int
y = 3.8  # float
z = 4+3j  # complex

In [14]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Python Data Types Python has the following data types built-in by default, in these categories:

Text Type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set Types: set

Boolean Type: bool

x = "Hello World" str

x = 20 int

x = 20.5 float

x = 1j complex

x = ["apple", "banana", "cherry"] list

x = ("apple", "banana", "cherry") tuple

x = range(6) range

x = {"name" : "John", "age" : 36} dict

x = {"apple", "banana", "cherry"} set

Python Operators Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

Arithmetic operators

Addition x + y

Subtraction x - y

Multiplication x * y

Division x / y

Modulus x % y

Exponentiation x ** y

Floor division x // y

In [16]:
#Modulus x % y
x = 5
y = 2

print(x % y)

1

In [18]:
#Floor division x // y
x = 15
y = 2

print(x // y)

7

Assignment Operators

= x = 5 x = 5

+= x += 3 x = x + 3

-= x -= 3 x = x - 3

*= x *= 3 x = x * 3

/= x /= 3 x = x / 3

%= x %= 3 x = x % 3

//= x //= 3 x = x // 3

In [19]:
x = 5
x += 3

print(x)

8

In [20]:
x=5
x-=3
print(x)

2

Comparison Operators

Equal x == y

Not equal x != y

Greater than x > y

Less than x < y

Greater than or equal to x >= y

Less than or equal to x <= y

In [21]:
x=5
y=3
print(x==y)

False

In [22]:
x=5
y=3
print(x>y)

True

Logical Operators

and Returns True if both statements are true x < 5 and x < 10

or Returns True if one of the statements is true x < 5 or x < 4

not Reverse the result, returns False if the result is true not(x < 5 and x < 10)

In [23]:
x=5
print(x>3 and x<10)

True

In [24]:
x = 5

print(x > 3 or x < 4)

True

In [25]:
x = 5

print(not(x > 3 and x < 10))

False

Identity Operators

is Returns True if both variables are the same object x is y

is not Returns True if both variables are not the same object x is not y

In [26]:
x = ["apple", "banana"]
y = ["apple", "banana"]

y=x

print(x is  y)

True

In [27]:
x = ["apple", "banana"]
y = ["apple", "banana"]
print(x == y)

True

Bitwise Operators

& AND Sets each bit to 1 if both bits are 1 x & y

| OR Sets each bit to 1 if one of two bits is 1 x | y

^ XOR Sets each bit to 1 if only one of two bits is 1 x ^ y

~ NOT Inverts all the bits ~x

Operator Precedence () Parentheses

** Exponentiation

+x -x ~x Unary plus, unary minus, and bitwise NOT

/ // % Multiplication, division, floor division, and modulus
Addition and subtraction

<< >> Bitwise left and right shifts

& Bitwise AND

^ Bitwise XOR

| Bitwise OR

== != > >= < <= is is not in not in Comparisons, identity, and membership operators

not Logical NOT

and AND

or OR

In [28]:
print((6 + 3) - (6 + 3))

0