In [1]:
# Set items are unordered, unchangeable, and do not allow duplicate values.
# Sets are used to store multiple items in a single variable.
# Set items are unchangeable, but you can remove items and add new items.
# A set can contain different data types.

In [2]:
set1={1,2,3,4,5,6}

In [3]:
print(set1)

{1, 2, 3, 4, 5, 6}

In [4]:
#Access Set Items
print(4 in set1)

True

In [5]:
print(8 in set1)

False

In [6]:
print(8 not in set1)

True

In [7]:
#Add Set Items

set1.add(9)

In [8]:
set1

{1, 2, 3, 4, 5, 6, 9}

In [9]:
# To add items from another set into the current set, use the update() method
set2={10,11,12}

In [10]:
set1.update(set2)

In [11]:
set1

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12}

In [12]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.

list3=["A","B","C"]

In [13]:
set1.update(list3)

In [14]:
set1

{1, 10, 11, 12, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [15]:
# Remove Set Items

set1.remove(12)

In [16]:
set1

{1, 10, 11, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [17]:
set1.pop()

1

In [18]:
set1

{10, 11, 2, 3, 4, 5, 6, 9, 'A', 'B', 'C'}

In [19]:
set1.pop()

2

In [20]:
set2.clear()

In [21]:
set2

set()

In [22]:
set3={1,2}

In [23]:
 del set3

In [24]:
set3

NameError: name 'set3' is not defined

In [25]:
# Difference Between Remove & Discard

In [26]:
set1={1,2,3,4,5,6}
set1.remove(101)

KeyError: 101

In [27]:
set1={1,2,3,4,5,6}
set1.discard(101)

In [28]:
#Union Method
set1= {"x","y","z"}
set2={6,7,8}
set3=set1.union(set2)
print(set3)

{'x', 7, 'z', 6, 8, 'y'}

In [29]:
# | Operator
set1= {"x","y","z"}
set2={6,7,8}
set3= set1 | set2
print(set3)

{'x', 7, 'z', 6, 8, 'y'}

In [30]:
#Join mutiple sets
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1.union(set2,set3,set4)
print(largeset)

{'King', 'z', 7, 6, 8, 'Motu', 'Kong', 'y', 'x', 'Patlu'}

In [31]:
set1= {"x","y","z"}
set2={6,7,8}
set3={'Motu','Patlu'}
set4={'King','Kong'}
largeset=set1 |set2 |set3 |set4
print(largeset)

{'King', 'z', 7, 6, 8, 'Motu', 'Kong', 'y', 'x', 'Patlu'}

In [32]:
#update Method
set1= {"x","y","z"}
set2={6,7,8}
set1.update(set2)
print(set1)

{'x', 7, 'z', 6, 8, 'y'}

In [33]:
#intersection method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.intersection(set2)
print(set3)

{'x'}

In [34]:
# & operator
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1 & set2
print(set3)

{'x'}

In [35]:
# difference method
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set1.difference(set2)
print(set3)

{'z', 'y'}

In [36]:
set1= {"x","y","z"}
set2={6,7,8,"x"}
set3= set2.difference(set1)
print(set3)

{8, 6, 7}